{% extends '_base.html' %}

{% block content %}
<header class="parent-header">
    <div class="segment">
        <h1 class="production">production</h1>
    </div>

    <div class="segment">
        <a id="resize-sidebar" class="btn" href="#">Sidebar (180px)</a>
    </div>

    <div class="segment">
        <a id="resize-mobile" class="btn" href="#">Mobile (300px)</a>
    </div>

    <div class="segment">
        <a id="resize-desktop" class="btn" href="#">Desktop (730px)</a>
    </div>

    <div class="segment">
        <a id="resize-fluid" class="btn" href="#">Fluid (100%)</a>
    </div>

    <div class="right">


    </div>
</header>

<div class="content">
    <p>Headline</p>
    <input id="headline" value="TKTK"></input>

    <p>Subhed</p>
    <input id="subhed" value=""></input>

    <p>Footer</p>
    <input id="footer" value=""></input>

    <p>Y-Axis ticks</p>
    <input id="ticks-y" value="4"></input>

    <p>CSV Data</p>
    <textarea id="csv">label,amt
2009,18
2010,197
2011,192
2012,-80
2013,249
2014,278
2015,16</textarea>

    <div id="preview-wrapper">
        <div id='preview'>
        </div>
    </div>

    <h2><span class="production">Production</span> embed code (for Seamus)</h2>

    <textarea id="embed" readonly="readonly" rows="20" cols="100"></textarea >
</div>
{% endblock %}
